/* ############################# */
/* MEDIA QUERYSS */
@media (max-width: 86em) {
  .main-header {
    font-size: 4.5rem;
  }
  .margin--right {
    margin-right: 1.4rem !important;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 54.25%;
  }
  .main-header {
    font-size: 4rem;
  }
  .secondary-header {
    font-size: 3.5rem;
  }
  .hero-btn {
    display: block;
    margin-bottom: 2rem;
  }
  .card-text {
    font-size: 1.75rem;
  }
  .game-header {
    font-size: 1.9rem;
  }
  .quiz-photo {
    width: 80%;
  }
  .form-btn {
    padding: 0.8rem 0;
  }
  .quiz-box {
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
  .forms {
    padding: 5rem;
  }
  .hero-layout {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
  .nav-top {
    gap: 6rem;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 48.5%;
  }
  .grid--3-cols {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid--4-cols {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .main-card {
    width: 75%;
    margin: 0 auto 6rem;
  }
  .main-card:last-child {
    margin-bottom: 0;
  }
  .secondary-header,
  .paragraph {
    text-align: center;
  }
  .person {
    margin-bottom: 6rem;
  }
  .person:last-child {
    margin-bottom: 0;
  }
  .main-form,
  .forms {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 0.7rem;
  }
  .form-btn {
    padding: 1.5rem 0;
  }
  .main-game-box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .quiz-box {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .question-box {
    text-align: center;
  }
  .answer-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .quiz-photo {
    width: 75%;
    margin-bottom: 5rem;
  }
  .quiz-photo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .title {
    text-align: start;
  }
  .menu-top {
    display: inline-block;
  }
  .nav-top {
    display: none;
  }
}
@media (max-width: 34.375em) {
  .hero-layout {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .hero-cta {
    text-align: center;
  }
  .hero-img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .question-box p {
    font-size: 1.8rem;
  }

  .footer-main {
    gap: 8rem;
  }
  .margin--right {
    margin-right: 0 !important;
  }
  .carousel {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .carousel-tbilisi {
    height: 50rem;
    margin-bottom: 5rem;
  }
  .carousel-kutaisi {
    height: 50rem;
  }
  .header-also {
    font-size: 3rem;
  }
  .smaller-loc {
    font-size: 1rem;
  }
  .location-flex {
    gap: 0.3rem;
  }
  .main-header {
    text-align: center;
  }
}
